<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @province_state.name %>
</p>

<%= link_to 'Edit', edit_province_state_path(@province_state) %> |
<%= link_to 'Back', province_states_path %>
