<%= form_for(@product_intro) do |f| %>
  <% if @product_intro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_intro.errors.count, "error") %> prohibited this product_intro from being saved:</h2>

      <ul>
      <% @product_intro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
