<script language="javascript" type="text/javascript">
 var hwd;
 var intSec = 3;//这里定义时间：秒
 function reHandle()
 {
  if(intSec==0)
<<<<<<< HEAD
  window.location.href = '<%= personal_center_index_path %>';
=======
  window.location.href = '<%= personal_center_index_path %>?id=245';
>>>>>>> c6fe1f39e8332af8f745c0def6da8431bbe15e1e
  else
  {
  intSec--;
  }
  hwd = setTimeout(reHandle,1000);
 }
  reHandle();
  document.write('<p><span id="tiao">'+intSec+'</span>秒后自动跳转…</p>')
</script>