.footer{
	width: 100%;
}
.footer .nav_cust div{
	width: 24%;
	text-align: center;
	font-size: 90%;
	font-weight: bolder;
	padding: 0px;
	margin: 0px;
}
.footer .nav_cust div a{
	padding: 3px;
	margin-right: 10px;
}