// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image_contain{
	width:20%;
	img{
		width: 30px;
		height: 30px;
	}	
	
}