<link rel="stylesheet" href="http://cdn.bootcss.com/pure/0.5.0/forms-min.css">
<div style="width:100%; border:1px solid">
	用户名<input type="text" name="" id=""></input>
	<br/>
	密 码<input type="text" name="" id=""></input>
	<br/>
	<a class="pure-button" href="#">A Pure Button</a>
	<button class="pure-button">A Pure Button</button>

</div>
