<div style="position:relative; font-size:0">
	<div style="padding:0; margin:0; border:0; font-size:0"><%= image_tag("protocol_0.png", width: "100%", padding:0, border:0, margin:0) %></div>
	<div style="padding:0; margin:0; border:0; font-size:0"><%= image_tag("protocol_1.png", width: "100%", padding:0, border:0, margin:0) %></div>
	<div style="padding:0; margin:0; border:0; font-size:0"><%= image_tag("protocol_2.png", width: "100%", padding:0, border:0, margin:0) %></div>	
</div>